# .gitignore for Grails 1.2 and 1.3
# Although this should work for most versions of grails, it is
# suggested that you use the "grails integrate-with --git" command
# to generate your .gitignore file.

/web-app/WEB-INF/classes

/prodDb.*

*Db.properties
*Db.script

/stacktrace.log
/test/reports
/logs

/*.war

/*.zip
/plugin.xml

/plugins
/web-app/plugins

/target

*.ipr
*.iws
*.iml
build/
node_modules/
grails-app/assets/bower/
